In [1]:
#Import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#reading the dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset = pd.get_dummies(dataset,drop_first = True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [7]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
dep=dataset['charges']

In [8]:
from sklearn.ensemble import RandomForestRegressor

In [9]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['friedman_mse','squared_error','absolute_error'],'max_features': ['auto','sqrt','log2'],
                'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)


#fitting the model
grid.fit(indep,dep)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
9 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
21 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.81258004 0.83170111 0.81796809 0.83458749
        nan        nan 0.81693552 0.83462382 0.82008906 0.83383858
        nan        nan 0.81305184 0.83079395 0.82081034 0.83213611]
  warnings.warn(

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['friedman_mse', 'squared_error',
                                       'absolute_error'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [10]:
#print the best parameter after tuning 
#print(grid.best_params_)

In [11]:
re=grid.cv_results_

print("The R_score value for best parameter{} :".format (grid.best_params_))

The R_score value for best parameter{'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100} :

In [12]:
table = pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000384,0.000767,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.000000,0.000000,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.057932,0.006017,0.004965,0.005083,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.839810,0.771210,0.831710,0.819648,0.800522,0.812580,0.024553,12
3,0.473866,0.012250,0.016045,0.000590,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.855876,0.779192,0.858615,0.828216,0.836607,0.831701,0.028643,5
4,0.051496,0.009108,0.006366,0.007799,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.828272,0.774545,0.851328,0.817950,0.817746,0.817968,0.024919,9
5,0.499302,0.028224,0.019130,0.006023,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858996,0.777443,0.863693,0.829298,0.843507,0.834587,0.031035,2
6,0.000000,0.000000,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
7,0.002202,0.004403,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
8,0.059576,0.005225,0.004298,0.000767,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.850442,0.757359,0.842656,0.806912,0.827310,0.816936,0.033292,10
9,0.534062,0.028347,0.019466,0.006110,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.861404,0.776818,0.860861,0.831328,0.842708,0.834624,0.031059,1
10,0.064312,0.005988,0.000598,0.001197,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.854004,0.770327,0.846802,0.817977,0.811335,0.820089,0.029736,8
11,0.507382,0.010712,0.013630,0.004316,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.856894,0.777297,0.862697,0.834000,0.838305,0.833839,0.030270,3
12,0.001501,0.003002,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.000000,0.000000,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.155912,0.002740,0.000000,0.000000,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.833560,0.745992,0.833837,0.807206,0.844663,0.813052,0.035730,11
15,1.527748,0.031551,0.014316,0.002694,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.854684,0.779642,0.849280,0.828834,0.841530,0.830794,0.027012,6
16,0.150357,0.006147,0.000000,0.000000,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.845920,0.764666,0.852249,0.815944,0.825273,0.820810,0.031031,7
17,1.401449,0.066179,0.009148,0.007480,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.858340,0.781531,0.856894,0.825607,0.838308,0.832136,0.028075,4

In [14]:
age_input = float(input("Age :"))
bmi_input = float(input("BMI :"))
children_input = int(input("Children :"))
sex_male_input = int(input("Sex_Male 0 or 1 :"))
smoker_yes_input = int(input("Smoker Yes0 or 1:"))

Age :27
BMI :32
Children :0
Sex_Male 0 or 1 :0
Smoker Yes0 or 1:0

In [15]:
# change the parameter
Future_prediction = grid.predict([[age_input,bmi_input, children_input, sex_male_input, smoker_yes_input]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [16]:
print("Future_Prediction = {}".format(Future_prediction))

Future_Prediction = [4776.0579197]